.library {
  border: rgb(58, 62, 58) solid 2px;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-inline: 30px;
  padding-bottom: 20px;
  justify-content: start;
  text-align: start;
}

.library-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.library-header-sort-by {
  align-items: center;
  color: white;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

.library-header-sort-by p {
  text-align: center;
}

.library-header h2 {
  font-size: 30px;
  font-weight: bold;
}

.library-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}


