.filters {
  border: rgb(58, 62, 58) solid 2px;
  border-radius: 5px;
  margin-left: 30px;
  padding-inline: 30px;
  padding-bottom: 20px;
  justify-content: start;
  text-align: start;
}

.filters-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-group {
  margin-top: 20px;
}

.filter-group-divider {
  color: rgb(58, 62, 58);
}

.filter-group-label {
  color: rgb(190, 197, 190);
  font-size: large;
  font-weight: bold;
}

.disclaimer {
  font-size: 12px;
  color: rgb(171, 174, 171);
}
