@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&family=Inter:wght@400;500&display=swap');

* {
  font-family: 'Figtree';
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.App-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.App-logo {
  height: 10vh;
  object-fit: contain;
  animation: App-logo-spin infinite 10s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  color: #189143;
  text-shadow: 4px 4px rgb(40, 89, 40);
}

.App-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.App-body {
  height: 85vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  color: rgb(220, 219, 219);
}

.App-body-left {
  flex: 3;
  overflow-y: scroll;
}

.App-body-center {
  flex: 6;
  overflow-y: scroll;
}

.App-body-right {
  flex: 4;
  overflow-y: scroll;
}